/*
  (                                     )  (     
  )\ )   )                 )         ( /(  )\ )  
 (()/(( /(              ( /(     (   )\())(()/(  
  /(_))\()) (  (  `  )  )\()) (  )( ((_)\  /(_)) 
 (_))((_)\  )\ )\ /(/( ((_)\  )\(()\  ((_)(_))   
 | _ \ |(_)((_|(_|(_)_\| |(_)((_)((_)/ _ \/ __|  
 |  _/ ' \/ _ (_-< '_ \) ' \/ _ \ '_| (_) \__ \  
 |_| |_||_\___/__/ .__/|_||_\___/_|  \___/|___/  
               |_|                                                                                                                         ███    ███                         

*/

@define-color selected-text #54c59f;
@define-color text #c17ac8;
@define-color base #15141b;
@define-color border #8464c6;
@define-color foreground #bdbdbd;
@define-color background #15141b;

child:selected .item-box {
    margin-left: 4px;
    transition: margin-left 0.05s ease-out;
}

.input {
    color: #ffffff;
    caret-color: #ffffff;
}

.input placeholder {
    color: #ffffff;
}

.placeholder {
    color: #c7a06f;
}

window {
    background-color: transparent;
    color: @text;
    border: none;
    padding: 0;
    box-shadow: none;
}

/* Walker Window Border */
window .box-wrapper {
    border-radius: 4px;
    border: 2px solid alpha(@border, 0.7);  
    padding: 18px 22px;
    background: @base;
    background-clip: padding-box;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 1);
}

/*
     )                                     
  ( /(  (  (               )        )      
  )\()) )\ )\ )  (      ( /(     ( /(      
 ((_)\ ((_|()/(  )\  (  )\()) (  )\()) (   
   ((_) _  ((_))((_) )\((_)\  )\((_)\  )\  
  / _ \| | _| |_ | |((_) |(_)((_) |(_)((_) 
 | (_) | / _` | || / _ \ '_ Y _ \ '_ Y _ \ 
  \___/|_\__,_|\__/\___/_.__|___/_.__|___/ 
                                           
 25-01-26
*/
