/*
  (                                     )  (     
  )\ )   )                 )         ( /(  )\ )  
 (()/(( /(              ( /(     (   )\())(()/(  
  /(_))\()) (  (  `  )  )\()) (  )( ((_)\  /(_)) 
 (_))((_)\  )\ )\ /(/( ((_)\  )\(()\  ((_)(_))   
 | _ \ |(_)((_|(_|(_)_\| |(_)((_)((_)/ _ \/ __|  
 |  _/ ' \/ _ (_-< '_ \) ' \/ _ \ '_| (_) \__ \  
 |_| |_||_\___/__/ .__/|_||_\___/_|  \___/|___/  
               |_|                                                                                                                         ███    ███                         

*/

@define-color selected-text #ffd700;
@define-color text #507350;
@define-color base #0f191c;
@define-color border #11ff25;
@define-color foreground #507350;
@define-color background #0f191c;

window {
    background-color: transparent;
    color: @text;
    border: none;
    padding: 0;
    box-shadow: none;
}

/* Walker Window Border */
window .box-wrapper {
    border-radius: 4px;
    border: 2px solid alpha(@border, 0.7);  
    padding: 18px 22px;
    background: @base;
    background-clip: padding-box;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 1);
}

/*
     )                                     
  ( /(  (  (               )        )      
  )\()) )\ )\ )  (      ( /(     ( /(      
 ((_)\ ((_|()/(  )\  (  )\()) (  )\()) (   
   ((_) _  ((_))((_) )\((_)\  )\((_)\  )\  
  / _ \| | _| |_ | |((_) |(_)((_) |(_)((_) 
 | (_) | / _` | || / _ \ '_ Y _ \ '_ Y _ \ 
  \___/|_\__,_|\__/\___/_.__|___/_.__|___/ 
                                           
 25-01-26
*/
