/*
*  
*  (                                     )  (     
*   )\ )   )                 )         ( /(  )\ )  
*  (()/(( /(              ( /(     (   )\())(()/(  
*   /(_))\()) (  (  `  )  )\()) (  )( ((_)\  /(_)) 
*  (_))((_)\  )\ )\ /(/( ((_)\  )\(()\  ((_)(_))   
*  | _ \ |(_)((_|(_|(_)_\| |(_)((_)((_)/ _ \/ __|  
*  |  _/ ' \/ _ (_-< '_ \) ' \/ _ \ '_| (_) \__ \  
*  |_| |_||_\___/__/ .__/|_||_\___/_|  \___/|___/  
*                  |_|
* 
* */

@define-color background #0f191c;
@define-color foreground #11ff25;

@define-color color0 #688060;
@define-color color2 #faff00;
@define-color color3 #90d762;
@define-color color4 #11ff25;
@define-color color5 #c1ff8a;
@define-color color6 #4f7e7e;
@define-color color7 #409931;
@define-color color8 #ffd700;
@define-color color9 #688060;
@define-color color10 #faff00;
@define-color color11 #90d762;
@define-color color12 #11ff25;
@define-color color13 #c1ff8a;
@define-color color14 #4f7e7e;
@define-color color15 #507350;

/*
*      )                                     
*   ( /(  (  (               )        )      
*   )\()) )\ )\ )  (      ( /(     ( /(      
*  ((_)\ ((_|()/(  )\  (  )\()) (  )\()) (   
*    ((_) _  ((_))((_) )\((_)\  )\((_)\  )\  
*   / _ \| | _| |_ | |((_) |(_)((_) |(_)((_) 
*  | (_) | / _` | || / _ \ '_ Y _ \ '_ Y _ \ 
*   \___/|_\__,_|\__/\___/_.__|___/_.__|___/ 
*                                            
*  25-01-26
*/
