/*
*  
*  (                                     )  (     
*   )\ )   )                 )         ( /(  )\ )  
*  (()/(( /(              ( /(     (   )\())(()/(  
*   /(_))\()) (  (  `  )  )\()) (  )( ((_)\  /(_)) 
*  (_))((_)\  )\ )\ /(/( ((_)\  )\(()\  ((_)(_))   
*  | _ \ |(_)((_|(_|(_)_\| |(_)((_)((_)/ _ \/ __|  
*  |  _/ ' \/ _ (_-< '_ \) ' \/ _ \ '_| (_) \__ \  
*  |_| |_||_\___/__/ .__/|_||_\___/_|  \___/|___/  
*                  |_|
* 
* */

@define-color background #15141b;
@define-color foreground #bdbdbd;

@define-color color0 #15141b;
@define-color color2 #54c59f;
@define-color color3 #c7a06f;
@define-color color4 #8464c6;
@define-color color5 #c17ac8;
@define-color color6 #6cb2c7;
@define-color color7 #bdbdbd;
@define-color color8 #6d6d6d;
@define-color color9 #c55858;
@define-color color10 #54c59f;
@define-color color11 #c7a06f;
@define-color color12 #8464c6;
@define-color color13 #c17ac8;
@define-color color14 #6cb2c7;
@define-color color15 #bdbdbd;

/*
*      )                                     
*   ( /(  (  (               )        )      
*   )\()) )\ )\ )  (      ( /(     ( /(      
*  ((_)\ ((_|()/(  )\  (  )\()) (  )\()) (   
*    ((_) _  ((_))((_) )\((_)\  )\((_)\  )\  
*   / _ \| | _| |_ | |((_) |(_)((_) |(_)((_) 
*  | (_) | / _` | || / _ \ '_ Y _ \ '_ Y _ \ 
*   \___/|_\__,_|\__/\___/_.__|___/_.__|___/ 
*                                            
*  25-01-26
*/
